  <main role="main">
    <div class="info">
      <h2>Need to get in touch with us?</h2>
      <p>Either you can use the detials below to contact us
        or fill out the form with your enquiry and our support team will get in touch with you soon.</p>
      <div class="container">
        <div class="row">
          <div class="col">Call Us</div>
          <div class="col"><a href="9455573222">9455573222</a></div>
        </div>
        <div class="row">
          <div class="col">Mail Us</div>
          <div class="col"><a href="mangaindex@email.com">eshopper@email.com</a></div>
        </div>
      </div>
    </div>

    <form class="form" action="#" method="get">
      <div class="container">
        <div class="row">
          <div class="col"><label for="name">Name</label></div>
          <div class="col"><input type="text" id="name" name="name" placeholder="Enter Your Full Name"></div>
        </div>
        <div class="row">
          <div class="col"><label for="email">Email</label></div>
          <div class="col"><input type="email" name="email" id="email"></div>
        </div>
        <div class="row">
          <div class="col"><label for="mobile">Mobile Number</label></div>
          <div class="col"><input type="number" name="mobile" id="mobile"></div>
        </div>
        <div class="row">
          <div class="col"><label for="inquiry">what can we help you with?</label></div>
          <div class="col"><textarea cols="23" rows="1" name="inquiry" id="inquiry"></textarea></div>
        </div>
        <div class="row">
          <div class="col"></div><div class="col"><input type="submit" value="Submit"></div>
        </div>
      </div>
    </form>

  </main>
