<main role="main">
	<div>
		<h3>Our mission</h3>
		Delevering In-store shoping like experience in online
		<h3>Our vision</h3>
		Getting top class products to our coustomer's door step
	</div>
	<div>
		<app-logo></app-logo>
	</div>
	<div>
		<p> We are energetic about discovering things that transcends the commonplace; that we think will
			get your attention, to convey these to you wherever you are and at whatever point you believe
			you have sufficient energy to enjoy a bit.</p>
		<p>So we made an organization to bring you items you will become hopelessly enamored with; to allow
			you to make your own space, to take advantage of those concealed abilities and make your own
			looks and accumulation; to enable you to impact your manifestation to companions to understand
			that second conclusion, to move or be enlivened; and to enable you to shop such that you will
			discover hypnotizing.</p>
		<p>We like consider <b>EShopper</b> as the advanced age likeness the sixteenth Century Grand Trunk
			Road, an expressway that changed the essence of exchange the US subcontinent.</p>
	</div>
	<div>
		<h3> Our values</h3>
		Innovation<br>
		Responsibility<br>
		Loyalty<br>
	</div>
	<div>
		<p>Go to our social media page for more info <a href="#">@manga_index</a></p>
	</div>
</main>