<main role="main">
	<div>
		<h3>Our Mission</h3>
		Bringing the World of Manga to Your Fingertips
		<h3>Our Vision</h3>
		Unleashing Your Imagination with Every Page Turn
	</div>
	<div>
		<app-logo></app-logo>
	</div>
	<div>
		<p>We are passionate about discovering captivating manga that will transport you to incredible worlds,
			fill your heart with emotions, and ignite your imagination.</p>
		<p>At our online manga reading website, we have curated a vast collection of extraordinary stories,
			adventures, and characters that will keep you hooked and craving for more.</p>
		<p>Our platform is designed to give you the ultimate manga reading experience, allowing you to dive
			into fantastic tales, explore diverse genres, and connect with like-minded manga enthusiasts.</p>
		<p>Discover the power of storytelling, immerse yourself in breathtaking artwork, and embark on thrilling
			journeys through our extensive library of manga titles.</p>
	</div>
	<div>
		<h3>Our Values</h3>
		Imagination<br>
		Community<br>
		Accessibility<br>
	</div>
	<div>
		<p>For more manga updates and exciting content, follow us on social media: <a href="#">@manga_index</a></p>
	</div>
</main>