<div class="container">

    <div class="overlay"></div>

    <form>
        <div>
            <app-logo></app-logo>
            <h2>Signup</h2>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" (keyup)="nameVal()"
                placeholder="Enter Your Full Name" required="required">
        </div>
        <div class="msg">{{nameMsg}}</div>

        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="userName" (keyup)="unVal()"
                id="username" required="required">
        </div>
        <div class="msg">{{usrNameMsg}}</div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="email" (keyup)="emailVal()" id="email"
                required="required">
        </div>
        <div class="msg">{{emailMsg}}</div>

        <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="number" class="form-control" name="mobile" [(ngModel)]="mobile" placeholder="Optional"
                (keyup)="mblVal()" id="mobile" required="required">
        </div>
        <div class="msg">{{mblMsg}}</div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" name="password" [(ngModel)]="pswd" (keyup)="pswdVal()" id="pswd"
                required="required">
        </div>
        <div class="msg">{{pswdMsg}}</div>

        <div class="form-group">
            <label for="cpassword">Confirm Password</label>
            <input type="password" class="form-control" name="cpswd" [(ngModel)]="cPswd" (keyup)="cPswdVal()" id="cpswd"
                required="required">
        </div>
        <div class="msg">{{cPswdMsg}}</div>
        <div>

            <div class="text-danger">
                {{msg}}
            </div>

            <div class="text-center">
            <button type="button" class="btn btn-primary btn-block" (click)="signUp()">Sign Up</button>
            </div>
            <p class="text-center">Already have an account? <a routerLink="/login">Log In</a></p>
        </div>
    </form>

</div>