@import '../../../base';

body {
    font-family: sans-serif;
    background: url('/src/assets/images/Background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.904);
}

.container {
    width: 35rem;
    margin: 50px auto;
    color: $secondary-text-color;
    background-color: rgba(75, 2, 75, 0.616);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid $theme-color;
    line-height: 50px;

    app-logo {
        text-align: right;
    }

    h2 {
        text-align: left;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
        background-color: #ffd6dd;
        height: 50px;
    }

    .btn-primary {
        background-color: $secondary-color;
        border-color: $theme-color;
        justify-content: center;
        width: 30rem;
        height: 45px;
    }

    .btn-primary:hover {
        background-color: $theme-color;
        border-color: white;
    }

    a {
        color: #eb4aa8;

        :link {
            text-decoration: none;
        }
    }

    .msg {
        font-size: small;
        color: rgb(153, 153, 107);
    }

    .text-danger {
        color: #dc3545;
        margin-top: 10px;
    }
}