

@font-face {
    font-family: 'Komika Title';
    src: url(./KOMTIT__.ttf) format(truetype);
}

@font-face {
    font-family: 'Manga Temple';
    src: url(./mangat.ttf) format(truetype);
}

@font-face {
    font-family: 'Anime Ace';
    src: url(./animeace2_reg.ttf) format(truetype);
}

@font-face {
    font-family: 'Manga Style';
    src: url(./MangaStyle.ttf) format(truetype);
}

@font-face {
    font-family: 'Manga';
    src: url(./Manga.otf) format(opentype);
}