<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" routerLink="/home">
        <app-logo></app-logo>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <form class="form-inline">
            <input class="form" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
    <div class="login">
        <button class="btn btn-dark" routerLink="/login">Login</button>
    </div>
</nav>