<ng-container *ngIf="isSharedComponentsVisible()">
    <div class="background">
        <div class="overlay"></div>

        <app-top-bar></app-top-bar>

        <app-left-nav-bar></app-left-nav-bar>

        <div *ngIf="isHomePage()" class="weekly-bar">
            <app-weekly-popular></app-weekly-popular>
        </div>

        <router-outlet></router-outlet>

        <app-footer></app-footer>
        
    </div>
</ng-container>

<ng-container *ngIf="!isSharedComponentsVisible()">
    <router-outlet></router-outlet>
</ng-container>