<nav class="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <div class="top-button">
            <li class="nav-item">
                <button type="button" class="btn btn-dark" routerLink="/home" routerLinkActive="active">Home</button>
            </li>
            </div>
            <li class="nav-item">
                <button type="button" class="btn btn-dark" routerLink="/category" routerLinkActive="active">Category</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-dark" routerLink="/about" routerLinkActive="active">About</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-dark" routerLink="/contact" routerLinkActive="active">Contact</button>
            </li>
        </ul>
    </div>
</nav>