@import '../../../base';

main {
    z-index: -1;
    padding: 110px 30px 0;
    margin-left: 150px;
    margin-right: 300px;
    justify-content: center;
    color: $secondary-text-color;

    .slideshow-container {
        position: relative;
        max-width: 100%;
        margin: auto;
        height: 400px;
        padding: 20px;
        border: 1px solid $theme-color;
        background-color: rgba(255, 255, 255, 0.336);
        box-shadow: 0px 5px 20px black;
      }

      a{
        text-decoration: none;
      }
      
      .slide {
        display: none;
      }
      
      .slide.active {
        display: block;
      }
      
      .slide-content {
        text-align: center;
        padding: 20px;
        display: flex;
      }

      img{
        width: 175px;
        height: 250px;
      }

      .dtl{
        text-align: left;
        margin: 30px;

        h3{
            margin-bottom: 30px;
            color: $primary-color;
        }

        p{
            color: $secondary-color;
        }
      }
      
      .slide-content h3 {
        font-size: 24px;
      }
      
      .slide-content p {
        font-size: 16px;
      }
      


    .comic-grid {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .comics-box {
        background-color: rgba(0, 0, 0, 0.514);
        margin-bottom: 20px;
        margin-top: 50px;
        padding: 10px;
    }

    .comic-card {

        justify-content: center;
        width: 160px;
        height: 250px;
        margin: 10px;
        margin-top: auto;
        transition: box-shadow 0.3s ease;


        img {
            width: 100px;
            height: 150px;
            margin-bottom: 10px;


        }

        h6 {
            text-align: left;

        }

        p {
            font-size: small;
            line-height: 1;
            text-align: left;

        }

        a {
            color: $primary-text-color;
            text-decoration: none;

        }

        :hover {
            color: $secondary-text-color;
            box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.568),
                0 2px 4px rgb(0, 0, 0);
        }
    }

    .see-more-link {
        margin-top: 0;
        text-align: right;

        a {
            text-decoration: none;
            color: $primary-text-color;
        }

        a:hover {
            text-decoration: underline 1px solid $theme-color;
        }
    }

}