
$head-font: 'Manga';

$logo-font: 'Manga Style';


$base-color : rgb(15, 0, 19, 0.95);
$primary-color: #080808;
$secondary-color: #101010;
$theme-color: #800080;

$primary-text-color: gray;
$secondary-text-color: white;