<footer class="footer">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/comics-by-type/Popular-Manga">Popular Manga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/comics-by-type/New-Arrivals">New Arrivals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/comics-by-type/Latest-Chapters">Latest Chapters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/category">Category</a>
        </li>
    </ul>
    <div class="dtl">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
    </ul>
    </div>
    <div class="container text-center">
        <span class="text-muted">© 2023 My Webpage. All rights reserved.</span>
    </div>
</footer>