<main role="main">

    <div class="select-genre">
        <select [(ngModel)]="selectedGenre">
          <option value="All">All</option>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Comedy">Comedy</option>
          <option value="Mystery">Mystery</option>
        </select>
      </div>
      <h1>{{ selectedGenre }}</h1>

      <div class="comic-grid">
        <app-comic-detail-card *ngFor="let comic of filteredComics" [comic]="comic"></app-comic-detail-card>
      </div>
      
</main>